<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="main_content">
        <div class="side_bar">
            <center><img src="../public/images/Admin icon.png" id="image" style="height: 150px; width: 150px; background-color: white; border-radius: 80px;"></center>

            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                <a href="admin/category" class="nav-link link-dark" >
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Category
                </a>
                </li>
                <li>
                <a href="admin/product" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Products
                </a>
                </li>
                <li>
                <a href="admin/customers" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Accounts
                </a>
                </li>
                <li>
                    <svg class="bi me-2" width="16" height="fill"><use xlink:href="#table"></use></svg>
                </li>
            </ul>
            </div>
        <div class="content"></div>
    </div>

</body>
</html>